.primary-maroon-button-container {
  display: flex;
  position: relative;
  background-color: transparent;
}
.primary-maroon-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-color: var(--dl-color-primary-theme3);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
  background-image: linear-gradient(90deg, rgba(88, 4, 20, 0.9) 0.00%,rgba(88, 4, 20, 0.9) 100.00%);
}
.primary-maroon-button-root-class-name {
  flex: 0 0 auto;
  background-color: transparent;
}
.primary-maroon-button-root-class-name1 {
  flex: 0 0 auto;
  background-color: transparent;
}
.primary-maroon-button-root-class-name2 {
  flex: 0 0 auto;
  background-color: transparent;
}
.primary-maroon-button-root-class-name3 {
  flex: 0 0 auto;
  background-color: transparent;
}
.primary-maroon-button-root-class-name4 {
  flex: 0 0 auto;
  background-color: transparent;
}

.header-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 100%;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: 0.75%;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: hsla(0,0%,100%,.8)!important;
}
.header-container {
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-container1 {
  width: 17%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-image {
  flex: 1;
  width: 35%;
  height: 100%;
  padding: 0px;
  object-fit: cover;
  padding-top: 0px;
  border-radius: var(--dl-radius-radius-radius75);
  text-decoration: none;
}
.header-navlink1 {
  color: var(--dl-color-primary-mainred);
  width: 100%;
  height: 100%;
  font-size: 225%;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Spectral;
  font-weight: 700;
  line-height: 1.3;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unit);
  letter-spacing: -0.025rem;
  text-transform: uppercase;
  text-decoration: none;
}
.header-menu {
  width: 70%;
  height: 75%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.header-navlink2 {
  color: var(--dl-color-primary-theme3);
  margin: var(--dl-space-space-halfunit);
  font-size: 150%;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-navlink2:hover {
  color: var(--dl-color-gray-500);
}
.header-icon {
  fill: var(--dl-color-primary-mainred);
  width: 2.75%;
  height: auto;
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.header-link {
  color: var(--dl-color-primary-theme3);
  font-size: 150%;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-icon02 {
  fill: var(--dl-color-primary-mainred);
  width: 2.75%;
  height: auto;
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.header-link01 {
  color: var(--dl-color-primary-theme3);
  font-size: 150%;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-icon04 {
  fill: var(--dl-color-primary-mainred);
  width: 2.75%;
  height: auto;
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.header-link02 {
  color: var(--dl-color-primary-theme3);
  font-size: 150%;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-icon06 {
  fill: var(--dl-color-primary-mainred);
  width: 2.75%;
  height: auto;
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.header-link03 {
  color: var(--dl-color-primary-theme3);
  font-size: 150%;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-icon08 {
  fill: var(--dl-color-primary-mainred);
  width: 2.75%;
  height: auto;
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.header-link04 {
  color: var(--dl-color-primary-theme3);
  font-size: 150%;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-icon10 {
  fill: var(--dl-color-primary-mainred);
  width: 2.75%;
  height: auto;
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.header-link05 {
  color: var(--dl-color-primary-theme3);
  font-size: 150%;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-container2 {
  display: none;
  align-items: center;
  margin-right: 0px;
  flex-direction: row;
}
.header-burger-menu {
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.header-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-dropdown-toggle {
  fill: var(--dl-color-gray-800);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-icon12 {
  fill: var(--dl-color-primary-mainred);
  width: 24px;
  height: 24px;
}
.header-dropdown-arrow {
  transition: 0.3s;
}
.header-icon14 {
  fill: var(--dl-color-primary-mainred);
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.header-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-primary-theme3);
  border-width: .5px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.8);
  list-style-position: inside;
}
.header-dropdown {
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}
.header-dropdown-toggle01 {
  fill: var(--dl-color-gray-800);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-theme3);
  border-width: .5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle01:hover {
  fill: #fff;
  color: var(--dl-color-primary-theme3);
  background-color: var(--dl-color-primary-accentedmagenta);
}
.header-navlink3 {
  color: var(--dl-color-primary-theme3);
  margin: var(--dl-space-space-halfunit);
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-navlink3:hover {
  color: var(--dl-color-gray-500);
}
.header-dropdown01 {
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}
.header-dropdown-toggle02 {
  fill: var(--dl-color-gray-800);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-theme3);
  border-width: .5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle02:hover {
  fill: #fff;
  color: var(--dl-color-primary-theme3);
  background-color: var(--dl-color-primary-accentedmagenta);
}
.header-link06 {
  color: var(--dl-color-primary-theme3);
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-dropdown02 {
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}
.header-dropdown-toggle03 {
  fill: var(--dl-color-gray-800);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-theme3);
  border-width: .5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle03:hover {
  fill: #fff;
  color: var(--dl-color-primary-theme3);
  background-color: var(--dl-color-primary-accentedmagenta);
}
.header-link07 {
  color: var(--dl-color-primary-theme3);
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-dropdown03 {
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}
.header-dropdown-toggle04 {
  fill: var(--dl-color-gray-800);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-theme3);
  border-width: .5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle04:hover {
  fill: #fff;
  color: var(--dl-color-primary-theme3);
  background-color: var(--dl-color-primary-accentedmagenta);
}
.header-link08 {
  color: var(--dl-color-primary-theme3);
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-dropdown04 {
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}
.header-dropdown-toggle05 {
  fill: var(--dl-color-gray-800);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-theme3);
  border-width: .5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle05:hover {
  fill: #fff;
  color: var(--dl-color-primary-theme3);
  background-color: var(--dl-color-primary-accentedmagenta);
}
.header-link09 {
  color: var(--dl-color-primary-theme3);
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-dropdown05 {
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}
.header-dropdown-toggle06 {
  fill: var(--dl-color-gray-800);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-theme3);
  border-width: .5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle06:hover {
  fill: #fff;
  color: var(--dl-color-primary-theme3);
  background-color: var(--dl-color-primary-accentedmagenta);
}
.header-link10 {
  color: var(--dl-color-primary-theme3);
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-dropdown06 {
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}
.header-dropdown-toggle07 {
  fill: var(--dl-color-gray-800);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-theme3);
  border-width: .5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle07:hover {
  fill: #fff;
  color: var(--dl-color-primary-theme3);
  background-color: var(--dl-color-primary-accentedmagenta);
}
.header-link11 {
  color: var(--dl-color-primary-theme3);
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  text-decoration: none;
}
.header-dropdown07 {
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}
.header-dropdown-toggle08 {
  fill: var(--dl-color-gray-800);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-theme3);
  border-width: .5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle08:hover {
  fill: #fff;
  color: var(--dl-color-primary-theme3);
  background-color: var(--dl-color-primary-accentedmagenta);
}
.header-navlink4 {
  color: var(--dl-color-primary-theme3);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}
.header-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-dropdown-toggle09 {
  fill: var(--dl-color-gray-800);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-theme3);
  border-width: .5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle09:hover {
  fill: #fff;
  color: var(--dl-color-primary-theme3);
  background-color: var(--dl-color-primary-accentedmagenta);
}
.header-navlink5 {
  color: var(--dl-color-primary-theme3);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}
.header-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-dropdown-toggle10 {
  fill: var(--dl-color-gray-800);
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-theme3);
  border-width: .5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle10:hover {
  fill: #fff;
  color: var(--dl-color-primary-theme3);
  background-color: var(--dl-color-primary-accentedmagenta);
}
.header-navlink6 {
  color: var(--dl-color-primary-theme3);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}
.header-container3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



@media(max-width: 1600px) {
  .header-container1 {
    height: auto;
    align-self: center;
  }
  .header-image {
    align-self: center;
  }
  .header-navlink1 {
    font-size: 175%;
    align-self: center;
    padding-top: var(--dl-space-space-halfunit);
  }
  .header-navlink2 {
    font-size: 125%;
  }
  .header-icon {
    width: 2.75%;
    height: auto;
  }
  .header-link {
    font-size: 125%;
  }
  .header-icon02 {
    width: 2.75%;
    height: auto;
  }
  .header-link01 {
    font-size: 125%;
  }
  .header-icon04 {
    width: 2.75%;
    height: auto;
  }
  .header-link02 {
    font-size: 125%;
  }
  .header-icon06 {
    width: 2.75%;
    height: auto;
  }
  .header-link03 {
    font-size: 125%;
  }
  .header-icon08 {
    width: 2.75%;
    height: auto;
  }
  .header-link04 {
    font-size: 125%;
  }
  .header-icon10 {
    width: 2.75%;
    height: auto;
  }
  .header-link05 {
    font-size: 125%;
  }
  .header-navlink3 {
    font-size: 1.25rem;
  }
  .header-link06 {
    font-size: 1.25rem;
  }
  .header-link07 {
    font-size: 1.25rem;
  }
  .header-link08 {
    font-size: 1.25rem;
  }
  .header-link09 {
    font-size: 1.25rem;
  }
  .header-link10 {
    font-size: 1.25rem;
  }
  .header-link11 {
    font-size: 1.25rem;
  }
}
@media(max-width: 1200px) {
  .header-nav {
    height: 100%;
  }
  .header-container {
    height: 100%;
  }
  .header-container1 {
    height: auto;
  }
  .header-navlink1 {
    color: var(--dl-color-primary-mainred);
    font-size: 125%;
    font-style: normal;
    font-family: Spectral;
    font-weight: 700;
    line-height: 1.3;
    padding-top: var(--dl-space-space-halfunit);
    letter-spacing: -0.025rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header-menu {
    width: 70%;
  }
  .header-navlink2 {
    font-size: 85%;
  }
  .header-icon {
    width: 2.75%;
    height: auto;
  }
  .header-link {
    font-size: 85%;
  }
  .header-icon02 {
    width: 2.75%;
    height: auto;
  }
  .header-link01 {
    font-size: 85%;
  }
  .header-icon04 {
    width: 2.75%;
    height: auto;
  }
  .header-link02 {
    font-size: 85%;
  }
  .header-icon06 {
    width: 2.75%;
    height: auto;
  }
  .header-link03 {
    font-size: 85%;
  }
  .header-icon08 {
    width: 2.75%;
    height: auto;
  }
  .header-link04 {
    font-size: 85%;
  }
  .header-icon10 {
    width: 2.75%;
    height: auto;
  }
  .header-link05 {
    font-size: 85%;
  }
  .header-container2 {
    display: none;
  }
  .header-navlink3 {
    font-size: 1em;
  }
  .header-link06 {
    font-size: 1em;
  }
  .header-link07 {
    font-size: 1em;
  }
  .header-link08 {
    font-size: 1em;
  }
  .header-link09 {
    font-size: 1em;
  }
  .header-link10 {
    font-size: 1em;
  }
  .header-link11 {
    font-size: 1em;
  }
}
@media(max-width: 991px) {
  .header-nav {
    height: 100%;
    max-width: 960px;
  }
  .header-container {
    height: 100%;
  }
  .header-container1 {
    height: auto;
  }
  .header-navlink1 {
    font-size: 100%;
  }
  .header-menu {
    width: 70%;
  }
  .header-navlink2 {
    font-size: 70%;
  }
  .header-icon {
    width: 2.75%;
    height: auto;
  }
  .header-link {
    font-size: 70%;
  }
  .header-icon02 {
    width: 2.75%;
    height: auto;
  }
  .header-link01 {
    font-size: 70%;
  }
  .header-icon04 {
    width: 2.75%;
    height: auto;
  }
  .header-link02 {
    font-size: 70%;
  }
  .header-icon06 {
    width: 2.75%;
    height: auto;
  }
  .header-link03 {
    font-size: 70%;
  }
  .header-icon08 {
    width: 2.75%;
    height: auto;
  }
  .header-link04 {
    font-size: 70%;
  }
  .header-icon10 {
    width: 2.75%;
    height: auto;
  }
  .header-link05 {
    font-size: 70%;
  }
  .header-navlink3 {
    font-size: 0.75em;
  }
  .header-link06 {
    font-size: 0.75em;
  }
  .header-link07 {
    font-size: 0.75em;
  }
  .header-link08 {
    font-size: 0.75em;
  }
  .header-link09 {
    font-size: 0.75em;
  }
  .header-link10 {
    font-size: 0.75em;
  }
  .header-link11 {
    font-size: 0.75em;
  }
}
@media(max-width: 767px) {
  .header-nav {
    height: 100%;
  }
  .header-container {
    height: 100%;
  }
  .header-container1 {
    height: auto;
  }
  .header-navlink1 {
    font-size: 0.75rem;
  }
  .header-menu {
    width: 70%;
    display: none;
  }
  .header-navlink2 {
    font-size: 0.5em;
  }
  .header-link {
    font-size: 0.5em;
  }
  .header-link01 {
    font-size: 0.5em;
  }
  .header-link02 {
    font-size: 0.5em;
  }
  .header-link03 {
    font-size: 0.5em;
  }
  .header-link04 {
    font-size: 0.5em;
  }
  .header-link05 {
    font-size: 0.5em;
  }
  .header-container2 {
    display: flex;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-dropdown-list {
    display: none;
  }
  .header-navlink3 {
    color: var(--dl-color-primary-mainred);
    font-size: 0.5em;
  }
  .header-link06 {
    color: var(--dl-color-primary-mainred);
    font-size: 0.5em;
  }
  .header-link07 {
    color: var(--dl-color-primary-mainred);
    font-size: 0.5em;
  }
  .header-link08 {
    color: var(--dl-color-primary-mainred);
    font-size: 0.5em;
  }
  .header-link09 {
    color: var(--dl-color-primary-mainred);
    font-size: 0.5em;
  }
  .header-link10 {
    color: var(--dl-color-primary-mainred);
    font-size: 0.5em;
  }
  .header-link11 {
    color: var(--dl-color-primary-mainred);
    font-size: 0.5em;
  }
  .header-dropdown07 {
    display: none;
  }
  .header-dropdown08 {
    display: none;
  }
  .header-dropdown09 {
    display: none;
  }
  .header-container3 {
    display: none;
  }
}
@media(max-width: 479px) {
  .header-nav {
    height: 100%;
    max-width: 100%;
  }
  .header-container1 {
    width: 28%;
    height: auto;
  }
  .header-navlink1 {
    font-size: 75%;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .header-menu {
    width: 70%;
    height: 100%;
  }
  .header-container2 {
    display: flex;
  }
  .header-icon12 {
    width: 24px;
  }
  .header-dropdown-list {
    display: none;
  }
  .header-dropdown07 {
    display: none;
  }
  .header-dropdown08 {
    display: none;
  }
  .header-dropdown09 {
    display: none;
  }
  .header-container3 {
    display: none;
  }
}

.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  padding: 32px;
  position: relative;
  align-items: center;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.footer-image {
  width: 10%;
  height: 10%;
  margin-bottom: 32px;
}
.footer-nav {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.footer-navlink {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  margin-left: 0px;
  text-decoration: underline;
}
.footer-navlink1 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-navlink2 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-navlink3 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-navlink4 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-navlink5 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-navlink6 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-text {
  color: var(--dl-color-gray-white);
  display: none;
  font-size: 3vh;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-text1 {
  color: var(--dl-color-gray-white);
  display: none;
  font-size: 3vh;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-text2 {
  color: var(--dl-color-gray-white);
  display: none;
  font-size: 3vh;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 32px;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 32px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-text3 {
  color: var(--dl-color-gray-white);
  font-size: 150%;
}
.footer-icon-group {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: var(--dl-color-gray-white);
  width: 30%;
  height: auto;
  align-self: center;
  margin-right: 15%;
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-gray-white);
  width: 25%;
  height: auto;
  margin-right: 0px;
  text-decoration: none;
}

.footer-root-class-name1 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name2 {
  height: auto;
  background-image: linear-gradient(180deg, rgb(141, 40, 45) 0.00%,rgb(141, 40, 45) 0.00%,rgb(141, 40, 45) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name3 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name4 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name5 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name6 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name7 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name8 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name9 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name10 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name11 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name12 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name13 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name14 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name15 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name16 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name17 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name18 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name19 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name20 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name21 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name22 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name23 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name24 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name25 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name26 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name27 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name28 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name29 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name30 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name31 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
@media(max-width: 1600px) {
  .footer-image {
    width: 10%;
    height: 10%;
  }
  .footer-navlink {
    font-size: 150%;
  }
  .footer-navlink1 {
    font-size: 150%;
  }
  .footer-navlink2 {
    font-size: 150%;
  }
  .footer-navlink3 {
    font-size: 150%;
  }
  .footer-navlink4 {
    font-size: 150%;
  }
  .footer-navlink5 {
    font-size: 150%;
  }
  .footer-navlink6 {
    font-size: 150%;
  }
  .footer-text {
    font-size: 200%;
  }
  .footer-text1 {
    font-size: 200%;
  }
  .footer-text2 {
    font-size: 200%;
  }
  .footer-text3 {
    font-size: 125%;
  }
  .footer-icon {
    width: 25%;
    height: auto;
  }
  .footer-icon2 {
    width: 20%;
    height: auto;
  }
}
@media(max-width: 1200px) {
  .footer-navlink {
    font-size: 125%;
  }
  .footer-navlink1 {
    font-size: 125%;
  }
  .footer-navlink2 {
    font-size: 125%;
  }
  .footer-navlink3 {
    font-size: 125%;
  }
  .footer-navlink4 {
    font-size: 125%;
  }
  .footer-navlink5 {
    font-size: 125%;
  }
  .footer-navlink6 {
    font-size: 125%;
  }
  .footer-text {
    font-size: 150%;
  }
  .footer-text1 {
    font-size: 150%;
  }
  .footer-text2 {
    font-size: 150%;
  }
  .footer-text3 {
    font-size: 100%;
  }
}
@media(max-width: 991px) {
  .footer-navlink {
    font-size: 115%;
  }
  .footer-navlink1 {
    font-size: 115%;
  }
  .footer-navlink2 {
    font-size: 115%;
  }
  .footer-navlink3 {
    font-size: 115%;
  }
  .footer-navlink4 {
    font-size: 115%;
  }
  .footer-navlink5 {
    font-size: 115%;
  }
  .footer-navlink6 {
    font-size: 115%;
  }
  .footer-text {
    font-size: 125%;
  }
  .footer-text1 {
    font-size: 125%;
  }
  .footer-text2 {
    font-size: 125%;
  }
  .footer-text3 {
    font-size: 100%;
  }
  .footer-icon {
    margin-right: 15%;
  }
}
@media(max-width: 767px) {
  .footer-container {
    max-width: 100%;
  }
  .footer-image {
    margin-bottom: 24px;
  }
  .footer-nav {
    width: auto;
    align-self: center;
  }
  .footer-navlink {
    font-size: 75%;
  }
  .footer-navlink1 {
    font-size: 75%;
  }
  .footer-navlink2 {
    font-size: 75%;
  }
  .footer-navlink3 {
    font-size: 75%;
  }
  .footer-navlink4 {
    font-size: 75%;
  }
  .footer-navlink5 {
    font-size: 75%;
  }
  .footer-navlink6 {
    font-size: 75%;
  }
  .footer-text {
    font-size: 75%;
  }
  .footer-text1 {
    font-size: 75%;
  }
  .footer-text2 {
    font-size: 75%;
  }
  .footer-separator {
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text3 {
    font-size: 60%;
    margin-bottom: 24px;
  }
  .footer-icon {
    width: 30%;
    margin-right: 15%;
  }
  .footer-icon2 {
    width: 25%;
  }
}
@media(max-width: 479px) {
  .footer-nav {
    width: auto;
  }
  .footer-navlink {
    font-size: 40%;
  }
  .footer-navlink1 {
    font-size: 40%;
  }
  .footer-navlink2 {
    font-size: 40%;
  }
  .footer-navlink3 {
    font-size: 40%;
  }
  .footer-navlink4 {
    font-size: 40%;
  }
  .footer-navlink5 {
    font-size: 40%;
  }
  .footer-navlink6 {
    font-size: 40%;
  }
  .footer-text {
    font-size: 50%;
  }
  .footer-text1 {
    font-size: 50%;
  }
  .footer-text2 {
    font-size: 50%;
  }
  .footer-separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text3 {
    font-size: 40%;
    text-align: center;
    margin-bottom: 24px;
  }
  .footer-icon {
    width: 30%;
  }
  .footer-icon2 {
    width: 25%;
  }
}

.opinion-piece16-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.opinion-piece16-title-section {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.opinion-piece16-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  min-height: auto;
  align-items: center;
  padding-top: 15em;
  flex-direction: column;
  justify-content: flex-start;
}
.opinion-piece16-text {
  color: rgb(0, 0, 0);
  font-size: 2.2rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Spectral;
  font-weight: 700;
  line-height: 1.3;
  padding-left: 1em;
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: 1em;
  text-decoration: none;
}
.opinion-piece16-text01 {
  color: rgb(0, 0, 0);
  font-size: 1.75rem;
  align-self: center;
  text-align: center;
  font-family: Spectral;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.opinion-piece16-text02 {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.opinion-piece16-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.opinion-piece16-text03 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.opinion-piece16-text04 {
  color: rgb(0, 0, 0);
  line-height: 3;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-tripleunit);
}
.opinion-piece16-text21 {
  color: var(--dl-color-gray-500);
  font-size: 1.1em;
  line-height: 3;
  margin-bottom: 1.5em;
}
.opinion-piece16-text22 {
  color: var(--dl-color-gray-500);
  width: 100%;
  word-break: break-all;
  line-height: 3;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-tripleunit);
}
@media(max-width: 1600px) {
  .opinion-piece16-text {
    font-size: 2rem;
  }
  .opinion-piece16-text01 {
    font-size: 1.6rem;
  }
  .opinion-piece16-text02 {
    font-size: 1.1rem;
  }
  .opinion-piece16-image {
    width: 45%;
  }
  .opinion-piece16-text03 {
    font-size: 0.95em;
  }
  .opinion-piece16-text04 {
    font-size: 0.95rem;
  }
  .opinion-piece16-text21 {
    font-size: 1em;
  }
  .opinion-piece16-text22 {
    font-size: 0.95rem;
  }
}
@media(max-width: 1200px) {
  .opinion-piece16-container1 {
    padding-top: 10em;
  }
  .opinion-piece16-text {
    font-size: 1.7rem;
  }
  .opinion-piece16-text01 {
    font-size: 1.4rem;
  }
  .opinion-piece16-text02 {
    font-size: 0.9rem;
  }
  .opinion-piece16-image {
    width: 40%;
    height: 100%;
    min-width: 0px;
  }
  .opinion-piece16-text03 {
    font-size: 0.9em;
  }
  .opinion-piece16-text04 {
    font-size: 0.9rem;
  }
  .opinion-piece16-text22 {
    font-size: 0.9rem;
  }
}
@media(max-width: 991px) {
  .opinion-piece16-title-section {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .opinion-piece16-container1 {
    max-width: 960px;
  }
  .opinion-piece16-text {
    font-size: 1.5rem;
  }
  .opinion-piece16-text01 {
    font-size: 1.2rem;
  }
  .opinion-piece16-text02 {
    font-size: 0.75rem;
  }
  .opinion-piece16-text03 {
    font-size: 0.85em;
  }
  .opinion-piece16-text04 {
    font-size: 0.85rem;
  }
  .opinion-piece16-text21 {
    font-size: 0.9em;
  }
  .opinion-piece16-text22 {
    font-size: 0.85rem;
  }
}
@media(max-width: 767px) {
  .opinion-piece16-container1 {
    padding-top: 7.5em;
  }
  .opinion-piece16-text {
    font-size: 1.3rem;
  }
  .opinion-piece16-text01 {
    font-size: 1rem;
  }
  .opinion-piece16-text02 {
    font-size: 0.65rem;
  }
  .opinion-piece16-image {
    width: 55%;
  }
  .opinion-piece16-text03 {
    font-size: 0.75em;
  }
  .opinion-piece16-text04 {
    font-size: 0.75rem;
  }
  .opinion-piece16-text21 {
    font-size: 0.8em;
  }
  .opinion-piece16-text22 {
    font-size: 0.75rem;
  }
}
@media(max-width: 479px) {
  .opinion-piece16-text {
    font-size: 1.15rem;
  }
  .opinion-piece16-text01 {
    font-size: 0.9rem;
  }
  .opinion-piece16-text02 {
    font-size: 0.6rem;
  }
  .opinion-piece16-image {
    width: 60%;
    height: auto;
    min-width: 40%;
  }
  .opinion-piece16-text03 {
    font-size: 0.7em;
  }
  .opinion-piece16-text04 {
    font-size: 0.7rem;
  }
  .opinion-piece16-text21 {
    font-size: 0.75em;
  }
  .opinion-piece16-text22 {
    font-size: 0.7rem;
  }
}
