.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  padding: 32px;
  position: relative;
  align-items: center;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.footer-image {
  width: 10%;
  height: 10%;
  margin-bottom: 32px;
}
.footer-nav {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.footer-navlink {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  margin-left: 0px;
  text-decoration: underline;
}
.footer-navlink1 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-navlink2 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-navlink3 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-navlink4 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-navlink5 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-navlink6 {
  color: var(--dl-color-gray-white);
  font-size: 175%;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-text {
  color: var(--dl-color-gray-white);
  display: none;
  font-size: 3vh;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-text1 {
  color: var(--dl-color-gray-white);
  display: none;
  font-size: 3vh;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-text2 {
  color: var(--dl-color-gray-white);
  display: none;
  font-size: 3vh;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 32px;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 32px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-text3 {
  color: var(--dl-color-gray-white);
  font-size: 150%;
}
.footer-icon-group {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: var(--dl-color-gray-white);
  width: 30%;
  height: auto;
  align-self: center;
  margin-right: 15%;
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-gray-white);
  width: 25%;
  height: auto;
  margin-right: 0px;
  text-decoration: none;
}

.footer-root-class-name1 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name2 {
  height: auto;
  background-image: linear-gradient(180deg, rgb(141, 40, 45) 0.00%,rgb(141, 40, 45) 0.00%,rgb(141, 40, 45) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name3 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name4 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name5 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name6 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name7 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name8 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name9 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name10 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name11 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name12 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name13 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name14 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name15 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name16 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name17 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name18 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name19 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name20 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name21 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name22 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name23 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name24 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name25 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name26 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name27 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name28 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name29 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name30 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
.footer-root-class-name31 {
  background-image: linear-gradient(180deg, rgba(88, 4, 20, 0.6) 0.00%,rgb(88, 4, 20) 100.00%);
}
@media(max-width: 1600px) {
  .footer-image {
    width: 10%;
    height: 10%;
  }
  .footer-navlink {
    font-size: 150%;
  }
  .footer-navlink1 {
    font-size: 150%;
  }
  .footer-navlink2 {
    font-size: 150%;
  }
  .footer-navlink3 {
    font-size: 150%;
  }
  .footer-navlink4 {
    font-size: 150%;
  }
  .footer-navlink5 {
    font-size: 150%;
  }
  .footer-navlink6 {
    font-size: 150%;
  }
  .footer-text {
    font-size: 200%;
  }
  .footer-text1 {
    font-size: 200%;
  }
  .footer-text2 {
    font-size: 200%;
  }
  .footer-text3 {
    font-size: 125%;
  }
  .footer-icon {
    width: 25%;
    height: auto;
  }
  .footer-icon2 {
    width: 20%;
    height: auto;
  }
}
@media(max-width: 1200px) {
  .footer-navlink {
    font-size: 125%;
  }
  .footer-navlink1 {
    font-size: 125%;
  }
  .footer-navlink2 {
    font-size: 125%;
  }
  .footer-navlink3 {
    font-size: 125%;
  }
  .footer-navlink4 {
    font-size: 125%;
  }
  .footer-navlink5 {
    font-size: 125%;
  }
  .footer-navlink6 {
    font-size: 125%;
  }
  .footer-text {
    font-size: 150%;
  }
  .footer-text1 {
    font-size: 150%;
  }
  .footer-text2 {
    font-size: 150%;
  }
  .footer-text3 {
    font-size: 100%;
  }
}
@media(max-width: 991px) {
  .footer-navlink {
    font-size: 115%;
  }
  .footer-navlink1 {
    font-size: 115%;
  }
  .footer-navlink2 {
    font-size: 115%;
  }
  .footer-navlink3 {
    font-size: 115%;
  }
  .footer-navlink4 {
    font-size: 115%;
  }
  .footer-navlink5 {
    font-size: 115%;
  }
  .footer-navlink6 {
    font-size: 115%;
  }
  .footer-text {
    font-size: 125%;
  }
  .footer-text1 {
    font-size: 125%;
  }
  .footer-text2 {
    font-size: 125%;
  }
  .footer-text3 {
    font-size: 100%;
  }
  .footer-icon {
    margin-right: 15%;
  }
}
@media(max-width: 767px) {
  .footer-container {
    max-width: 100%;
  }
  .footer-image {
    margin-bottom: 24px;
  }
  .footer-nav {
    width: auto;
    align-self: center;
  }
  .footer-navlink {
    font-size: 75%;
  }
  .footer-navlink1 {
    font-size: 75%;
  }
  .footer-navlink2 {
    font-size: 75%;
  }
  .footer-navlink3 {
    font-size: 75%;
  }
  .footer-navlink4 {
    font-size: 75%;
  }
  .footer-navlink5 {
    font-size: 75%;
  }
  .footer-navlink6 {
    font-size: 75%;
  }
  .footer-text {
    font-size: 75%;
  }
  .footer-text1 {
    font-size: 75%;
  }
  .footer-text2 {
    font-size: 75%;
  }
  .footer-separator {
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text3 {
    font-size: 60%;
    margin-bottom: 24px;
  }
  .footer-icon {
    width: 30%;
    margin-right: 15%;
  }
  .footer-icon2 {
    width: 25%;
  }
}
@media(max-width: 479px) {
  .footer-nav {
    width: auto;
  }
  .footer-navlink {
    font-size: 40%;
  }
  .footer-navlink1 {
    font-size: 40%;
  }
  .footer-navlink2 {
    font-size: 40%;
  }
  .footer-navlink3 {
    font-size: 40%;
  }
  .footer-navlink4 {
    font-size: 40%;
  }
  .footer-navlink5 {
    font-size: 40%;
  }
  .footer-navlink6 {
    font-size: 40%;
  }
  .footer-text {
    font-size: 50%;
  }
  .footer-text1 {
    font-size: 50%;
  }
  .footer-text2 {
    font-size: 50%;
  }
  .footer-separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text3 {
    font-size: 40%;
    text-align: center;
    margin-bottom: 24px;
  }
  .footer-icon {
    width: 30%;
  }
  .footer-icon2 {
    width: 25%;
  }
}
