<div>
  <link href="./header.css" rel="stylesheet" />
  <div data-role="Header" class="header-header">
    <nav class="header-nav">
      <div class="header-container">
        <div class="header-container1">
          <a href="index.html" class="header-navlink">
            <img
              alt="image"
              src="public/youthpoliticalogo-200h.png"
              class="header-image"
            />
          </a>
          <a href="index.html" class="header-navlink1">
            <span>Youth Politica</span>
          </a>
        </div>
        <div class="header-menu">
          <a href="index.html" class="header-navlink2"><span>About Us</span></a>
          <svg viewBox="0 0 804.5714285714286 1024" class="header-icon">
            <path
              d="M804.571 420.571v109.714c0 30.286-24.571 54.857-54.857 54.857h-694.857c-30.286 0-54.857-24.571-54.857-54.857v-109.714c0-30.286 24.571-54.857 54.857-54.857h694.857c30.286 0 54.857 24.571 54.857 54.857z"
            ></path>
          </svg>
          <a href="announcements.html" class="header-link">
            <span>Announcements</span>
          </a>
          <svg viewBox="0 0 804.5714285714286 1024" class="header-icon02">
            <path
              d="M804.571 420.571v109.714c0 30.286-24.571 54.857-54.857 54.857h-694.857c-30.286 0-54.857-24.571-54.857-54.857v-109.714c0-30.286 24.571-54.857 54.857-54.857h694.857c30.286 0 54.857 24.571 54.857 54.857z"
            ></path>
          </svg>
          <a href="opportunities.html" class="header-link01">
            <span>Opportunities</span>
          </a>
          <svg viewBox="0 0 804.5714285714286 1024" class="header-icon04">
            <path
              d="M804.571 420.571v109.714c0 30.286-24.571 54.857-54.857 54.857h-694.857c-30.286 0-54.857-24.571-54.857-54.857v-109.714c0-30.286 24.571-54.857 54.857-54.857h694.857c30.286 0 54.857 24.571 54.857 54.857z"
            ></path>
          </svg>
          <a href="projects.html" class="header-link02">
            <span>Projects</span>
          </a>
          <svg viewBox="0 0 804.5714285714286 1024" class="header-icon06">
            <path
              d="M804.571 420.571v109.714c0 30.286-24.571 54.857-54.857 54.857h-694.857c-30.286 0-54.857-24.571-54.857-54.857v-109.714c0-30.286 24.571-54.857 54.857-54.857h694.857c30.286 0 54.857 24.571 54.857 54.857z"
            ></path>
          </svg>
          <a href="journalism.html" class="header-link03">
            <span>Journalism</span>
          </a>
          <svg viewBox="0 0 804.5714285714286 1024" class="header-icon08">
            <path
              d="M804.571 420.571v109.714c0 30.286-24.571 54.857-54.857 54.857h-694.857c-30.286 0-54.857-24.571-54.857-54.857v-109.714c0-30.286 24.571-54.857 54.857-54.857h694.857c30.286 0 54.857 24.571 54.857 54.857z"
            ></path>
          </svg>
          <a href="meet-the-team.html" class="header-link04">
            <span>Meet The Team</span>
          </a>
          <svg viewBox="0 0 804.5714285714286 1024" class="header-icon10">
            <path
              d="M804.571 420.571v109.714c0 30.286-24.571 54.857-54.857 54.857h-694.857c-30.286 0-54.857-24.571-54.857-54.857v-109.714c0-30.286 24.571-54.857 54.857-54.857h694.857c30.286 0 54.857 24.571 54.857 54.857z"
            ></path>
          </svg>
          <a href="contact.html" class="header-link05"><span>Contact</span></a>
        </div>
        <div class="header-container2">
          <div data-role="BurgerMenu" class="header-burger-menu">
            <div data-thq="thq-dropdown" class="header-thq-dropdown list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="header-dropdown-toggle"
              >
                <svg viewBox="0 0 1024 1024" class="header-icon12">
                  <path
                    d="M64 192h896v192h-896zM64 448h896v192h-896zM64 704h896v192h-896z"
                  ></path>
                </svg>
                <div
                  data-thq="thq-dropdown-arrow"
                  class="header-dropdown-arrow"
                >
                  <svg viewBox="0 0 1024 1024" class="header-icon14">
                    <path d="M426 726v-428l214 214z"></path>
                  </svg>
                </div>
              </div>
              <ul data-thq="thq-dropdown-list" class="header-dropdown-list">
                <li data-thq="thq-dropdown" class="header-dropdown list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-dropdown-toggle01"
                  >
                    <a href="index.html" class="header-navlink3">
                      <span>About Us</span>
                    </a>
                  </div>
                </li>
                <li data-thq="thq-dropdown" class="header-dropdown01 list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-dropdown-toggle02"
                  >
                    <a href="announcements.html" class="header-link06">
                      <span>Announcements</span>
                    </a>
                  </div>
                </li>
                <li data-thq="thq-dropdown" class="header-dropdown02 list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-dropdown-toggle03"
                  >
                    <a href="opportunities.html" class="header-link07">
                      <span>Opportunities</span>
                    </a>
                  </div>
                </li>
                <li data-thq="thq-dropdown" class="header-dropdown03 list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-dropdown-toggle04"
                  >
                    <a href="projects.html" class="header-link08">
                      <span>Projects</span>
                    </a>
                  </div>
                </li>
                <li data-thq="thq-dropdown" class="header-dropdown04 list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-dropdown-toggle05"
                  >
                    <a href="journalism.html" class="header-link09">
                      <span>Journalism</span>
                    </a>
                  </div>
                </li>
                <li data-thq="thq-dropdown" class="header-dropdown05 list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-dropdown-toggle06"
                  >
                    <a href="meet-the-team.html" class="header-link10">
                      <span>Meet The Team</span>
                    </a>
                  </div>
                </li>
                <li data-thq="thq-dropdown" class="header-dropdown06 list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-dropdown-toggle07"
                  >
                    <a href="contact.html" class="header-link11">
                      <span>Contact</span>
                    </a>
                  </div>
                </li>
                <li data-thq="thq-dropdown" class="header-dropdown07 list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-dropdown-toggle08"
                  >
                    <a href="education.html" class="header-navlink4">
                      <span>Education</span>
                    </a>
                  </div>
                </li>
                <li data-thq="thq-dropdown" class="header-dropdown08 list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-dropdown-toggle09"
                  >
                    <a href="resources.html" class="header-navlink5">
                      <span>Resources</span>
                    </a>
                  </div>
                </li>
                <li data-thq="thq-dropdown" class="header-dropdown09 list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-dropdown-toggle10"
                  >
                    <a href="political-figures.html" class="header-navlink6">
                      <span><span>Political Figures</span></span>
                      <br />
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="header-container3">
            <div
              class="primary-maroon-button-container primary-maroon-button-root-class-name4"
            >
              <button class="primary-maroon-button-button ButtonSmall">
                <span>Join Us</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
